
body{
  font-family:"Comic Sans MS",  sans-serif;
  padding: 0;
  margin: 0;
  background: #FFEBE5;

}

.h1{
  margin: 14px ;
}

h2{
  font-weight: bold;
  font-size: 58px;
}

h3{
  font-weight: bold;
  font-size: 25px;
}

.h4{
  font-weight: bold;
  font-size: 20px;

}

p{
  font-weight: bold;
  font-size: 26px;
  margin: 30px 188px;

}

.wrapper{
  width: 1244px;
  margin: 0;
  padding: 10px 10px;

}
.pandatart-banner{
  background-color:#f58664 ;
  min-height: 85vh;
  padding: 0 20px;
  color:#C40000;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
}
.pandatart-banner h1{
margin: 14px 0 0px;
max-height: 100%;
font-size: 65px;

}

.pandatart-banner h3{
  margin: 0px 0 6px;
  color: #49111C;


}

.pandatart-banner h4, .pandatart-banner h4 a {
  color: white;
  margin: 0, 0, 35px;
}

.group1 img{
background: url(img/pandatarts1.png) no-repeat 0 0;
background-size:100%;
position: absolute; top: 0px; right: 40px;
margin-left: 20px;
height: 600px;
width: 600px;
}

a.cta,
 button.cta {
   font-size: 30px;
   font-weight: bold;
   color: #C40000;
   background: #fef5ea;
   display: inline-block;
   border-radius: 50px;
   padding: 3px 30px;
   box-shadow:  0px 11px 0px rgba(0, 0, 0, 0.1);
   text-decoration: none;

}
a.cta.alt,
button.cta.alt{
  color:#C40000;
  border-radius: 50px;
  box-shadow: 0px 11px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: #f58664;
  border: none;

}

nav{
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position:sticky;
  top: 0;

}

nav .logo{
  display: block;
  width: 360px;
  height: 210px;
  position: absolute; top: 50%; left: 15px;
  margin-top: -184px;
  background: url(img/pandatartswords.png) no-repeat 0 0;
  background-size:cover;
  padding: 0;
  overflow: hidden;
  text-indent: -999px;

}

nav ul{
  padding: 0;
  margin: 0 20px 0 0;

}

nav ul li{
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a{
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #49111C;
  text-decoration: none;
  padding: 35px 10px;
  line-height: 30px;
}

.more-info{
  text-align: center;

}




/*
<div class="more-info" id="more-info">
<h2>Join Our Team</h2>
<p>Every Saturday we have Strawberry day where we go out and help harvest <span class="highlight">strawberries</span> . You get to keep some for yourself too. Pretty cool right? </p>
<button class="cta alt">Sign Me Up!</button>
</div>

 */
