
body{
  font-family:"Comic Sans MS",  sans-serif;
  padding: 0;
  margin: 0;
  background: #FFEBE5;

}

.h1{
  margin: 14px ;
}

h2{
  font-weight: bold;
  font-size: 58px;
  color: #C40000;
}

h3{
  font-weight: bold;
  font-size: 25px;
}

.h4{
  font-weight: bold;
  font-size: 20px;

}

p{
  font-weight: bold;
  font-size: 26px;
  margin: 30px 100px;

}

.wrapper{
  width: 1244px;
  margin: 0;
  padding: 10px 8px;

}
.pandatart-banner{
  background-color:#f58664 ;
  min-height: 85vh;
  padding: 0 20px;
  color:#C40000;
  box-sizing: border-box;
  position: relative;
  overflow:hidden;
}
.pandatart-banner h1{
margin: 14px 0 0px;
max-height: 100%;
font-size: 65px;

}

.pandatart-banner h3{
  margin: 0px 0 6px;
  color: #49111C;


}

.pandatart-banner h4, .pandatart-banner h4 a {
  color: white;
  margin: 0, 0, 35px;
}

.group1 img{
background: url(img/pandatarts1.png) no-repeat 0 0;
background-size:100%;
position: absolute; top: 0px; right: 40px;
margin-left: 20px;
height: 600px;
width: 600px;
}

a.cta,
 button.cta {
   font-size: 30px;
   font-weight: bold;
   color: #C40000;
   background: #fef5ea;
   display: inline-block;
   border-radius: 50px;
   padding: 3px 30px;
   box-shadow:  0px 11px 0px rgba(0, 0, 0, 0.1);
   text-decoration: none;
   border: none;
   cursor: pointer;
}

a.cta:active,
 button.cta:active{
   opacity: .7;
 }

a.cta.alt,
button.cta.alt{
  color:#C40000;
  border-radius: 50px;
  box-shadow: 0px 11px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: #f58664;
  border: none;
  margin: 30px;


}

nav{
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  position:sticky;
  top: 0;
  z-index: 1;

}

nav .logo{
  display: block;
  width: 360px;
  height: 210px;
  position: absolute; top: 50%; left: 15px;
  margin-top: -184px;
  background: url(img/pandatartswords.png) no-repeat 0 0;
  background-size:cover;
  padding: 0;
  overflow: hidden;
  text-indent: -999px;

}

nav ul{
  padding: 0;
  margin: 0 20px 0 0;

}

nav ul li{
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a{
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #49111C;
  text-decoration: none;
  padding: 35px 10px;
  line-height: 30px;
}

.more-info{
  text-align: center;
  border: 5px dashed #C40000;

}

.more-info p{
  margin: 18px 0 40px;
}

.more-info h2{
  margin: 50px 0 0px;
}
.highlight{
  background-color: #F8C785;
  color: #C40000;
  padding: 5px 1px;
  display: inline;
  font-weight: 800;

}

.story h3{
  font-size: 40px;
  font-weight: 800;
}
.pr-list{
  width: 470px;
  padding: 20px 20px 1px 20px;
  box-sizing: border-box;
  background-color:#F58664;
  float: left;
  margin: 0 20px 20px 50px;
  position: relative;

}

.pr-list li{
height: 70px;
border-radius: 10px;
font-size: 40px;
color: #F58664;
font-weight: bold;
display: block;
margin-bottom: 20px;
padding: 6px 20px;
box-sizing: border-box;
}

.pr-list li.red{background-color: #C40000;}
.pr-list li.grey{background-color: rgba(0, 0, 0, .1 );}
.pr-list li.brown{
  background-color: #49111C;
  color:#FFEBE5 }
.pr-list li.peach{background-color: #F15143;}
.pr-list li.yellow{background-color: #F8C785;}
.pr-list li.white{background-color: white;}

.pr-list li.drag{
  position: absolute;
  top: 92px;
  left: 60px;
  right: -23px;
  transform: rotate(6deg);
  box-shadow: 0 2px 14px rgba(0,0,0, .3);
}

.pr-list li.drag:after{
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 50px;
  background: url(img/paw.png) no-repeat 0 0;
  background-size: 100%;
  top: 35px;
  bottom: -8px;
  left: 60%;

}

.gang-img{
  display: block;
  margin: 0, auto;
}

footer{
  text-align: center;
  color: rgba(0, 0, 0, .4);
  font-size: 20px;
  margin: 85px 0 45px;
  font-weight: bold;
}

footer a{
  color: rgba(0,0,0, .4);

}

.popup{
  display: none;
}






/*
<ul class="pr-list">
  <li class="red">Fun</li>
  <li class="brown">Gardening</li>
  <li class="peach">Teamwork</li>
  <li class="yellow">Networking</li>
  <li class="white">Eating</li>
</ul>
<h3>Left: Our Priorities <br>
Below: Our Story</h3>
<p>Once upon a time, there was a little hungry panda. She wandered upon a strawberry farm. She tasted a berry and found that it was sour.</p>
<p>Even though it was sour, she was starving. With no time to be picky, she chose and ate another berry. It was sweet this time. She ate until she was full, sometimes finding a sour berry, but that didn’t stop her.</p>
<p>The farm owner found her sleeping in a circle of empty vines. Though the owner was upset, they found calm in the sight of the adorable sleeping panda. The owner took the panda in and cared for her. They fed her plenty fruits and vegetables and made her a little cabin to live in.</p>
<p>The little panda vowed to help others see that they can continue, even when there is no hope. She founded the PandaTarts club and soon after two more panda came to join her. They went around helping animals and farmers see the light at the end of the tunnel. They became their hope and cheering mascots. </p>
<p>Now they need more people! With your help, they can stretch their services farther and enrich more lives. You will gain adorable allies and a plethora of fruits and veggies. Not to mention valuable connections  with the growers of the world.</p>
</div>

 */
